<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
        />
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='bootstrap.min.css') }}"
        />
        <link
        rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        />
        <link
        rel="stylesheet"
        href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
        />
        <title>Web Dashboard</title>

        <style>
            table {
              font-family: arial, sans-serif;
              border-collapse: collapse;
              width: 100%;
            }
            
            td, th {
              border: 1px solid #dddddd;
              text-align: left;
              padding: 8px;
            }
            
            tr:nth-child(even) {
              background-color: #dddddd;
            }
        </style>
    </head>
    <body id="page-top">
        <div id="wrapper">
            <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
                <div class="container-fluid d-flex flex-column p-0">
                
                    {% if current_user.is_anonymous %}
                    
                    {% else %}
                    <a
                    class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0"
                    href="{{url_for('index')}}">
                        <div class="sidebar-brand-icon rotate-n-15">
                            <img src="{{ url_for('static', filename='logo.png') }}" style="width: 42px; height: 42px;">
                        </div>
                        <div class="sidebar-brand-text ml-2 pr-3">
                            <span>FoodMon</span>
                        </div>
                    </a>
                </div>
            </nav>

            <div class="d-flex flex-column" id="content-wrapper">
                <div id="content">
                    <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                        <div class="container-fluid">
                            <span>User: {{current_user.username}}</span>
                            <span style="margin-left: 2%;">
                                <a href="{{ url_for('user', username=current_user.username) }}">Profile</a>
                            </span>
                            <ul class="nav navbar-nav flex-nowrap ml-auto">
                                <div class="d-none d-sm-block topbar-divider"></div>
                                <div class="nav-item dropdown no-arrow">
                                    <a class="dropdown-item" role="presentation" href="{{url_for('logout')}}">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    &nbsp;Logout</a> 
                                </div>
                            </ul>
                        </div>
                    </nav>

                    {% block content %}{% endblock %}

                </div>                 
            </div>
            {% endif %}
        </div>
    </body>
</html>