{% extends "base.html" %}

{% block content %}
    <table>
        <tr valign="top">
            <td style="display: block; margin-right: -3.2em; padding-left: 15px; border: 0;">
                {% if filename %}
                <img src="{{ url_for('display', filename=filename) }}" style="max-height: 50px; max-width: 50px;">
                {% else %}
                <img src="{{ url_for('display', filename='black.png') }}" style="max-height: 50px; max-width: 50px;">
                {% endif %}
            </td>
            <td>
                <h1>User: {{ user.username }}</h1>
            </td>
        </tr>
    </table>
    {% if user == current_user  %}
        {% if user.role == "subscriber" or user.role == "admin" %}
            <p><a href="{{ url_for('upload') }}">Upload Image</a></p>
        {% endif %}
        {% if user.role == "default" %}
            <p><a href="{{ url_for('subscribe') }}"><u>Subscribe!</u></a></p>
        {% endif %}
    {% endif %}
{% endblock %}